td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}

body {
    background: url(html_table.jpg) center/cover fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: sticky;
    align-items: center;
    overflow-x: scroll;
}
main.table{
    width: 100vw;
    height: 100%;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    border-radius:  10px;
    box-shadow: 0 .4rem .8rem #0005;
}
table , th , td{
    padding: 1rem;
}
.table_header{
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content: center;

}
.select {
    display: flex;
    justify-content: center;
}
.table_body{
    width: 95%;
    max-height: calc(89% - .8rem);
    background-color: #fffb;
    margin: 0.8rem auto;
    border-radius: .6rem;
    /* pver */
}
.btn{
    display:  flex;
    align-items: center;
    justify-content: center;
}